* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-y: none;
}

body {
    
    font-family: 'Roboto', sans-serif;
}

/* MENU */
.hamburger-menu {
    width: 3rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 99999;
}

.line {
    display: block;

}

.line::before,
.line::after {
    content: "";
    display: block;
    background: black;
    height: 4px;
    transition: all .2s;
}

.line::before {
    margin-bottom: 1.6rem;
    box-shadow: 0 1rem 0 black;
}

#toggle {
    display: none;
}

#toggle:checked~.hamburger-menu .line::before {
    box-shadow: 0 0 0 black;
    transform: translateY(1rem) rotate(45deg);
}

#toggle:checked~.hamburger-menu .line::after {
    transform: translateY(-1rem) rotate(-45deg);
}

.nav {
    min-height: 20vh;
    background-color: #D5F1F8;
    padding: 5rem 2.5rem;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;

}

#toggle:checked~.nav {
    opacity: 1;
    transform: scale(1);
}

.nav-item {
    list-style: none;
    line-height: 2;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #3A4362;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.nav-link::before {
    content: "";
    background: #AFA5EA;
    width: calc(100% + 2rem);
    height: .5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(0);
    transform-origin: left;
    transition: transform .5s;

}

.nav-link:hover::before {
    transform: translate(-50%, -50%) scaleX(1);
}

.logo{
    position: absolute;
    font-size: 30px;
    font-weight: 800;
    margin-top: 15px;
    margin-left: 20px;
}


@media screen and (min-width: 768px) {

    .logo-text {
     
        font-size: 24px;
       
    }

    .hamburger-menu {
        top: 5rem;
        right: 5rem;

    }

    .nav {
        padding: 5rem;

    }

    .nav-item {
        line-height: 1.2;
    }

    .nav-link {
        font-size: 8rem;
    }

    .nav-link::before {
        width: calc(100% + 2.5rem);
        height: 2rem;
    }
}


@media screen and (min-width: 1600px) {

    .logo-text {
        font-size: 24px;
    }


    .nav {
        padding: 10rem 5rem;

    }

    .nav-link {
        font-size: 16rem;
    }

    .nav-link::before {
        width: calc(100% + 5rem);
        height: 2rem;
        filter: url("#noise");
    }
}

.nav-menu{
    display: block;
    max-height: 0px;
}